WebAPI/Media
WebAPI/appsettings.Development.json
WebAPI/appsettings.json

WebAPI/obj
WebAPI/bin

Tests/obj
Tests/bin

IntegrationTests/obj
IntegrationTests/bin

Infraestructure/obj
Infraestructure/bin

SharedKernel/obj
SharedKernel/bin

Persistence/obj
Persistence/bin

Application/obj
Application/bin

Domain/obj
Domain/bin

obj

.vs
.vscode

